.chart {
    /* background-color: rgba(102, 51, 153, 0.6); */
    background-color: rgba(73, 73, 163, 0.6);
    border-radius: 10px;
    max-width: 28rem;
    width: 100% !important;
    height: 100%;
    min-height: 200px;
}
